.Main {
    text-align: center;
  }
  
.Main-logo {
height: 40vmin;
pointer-events: none;
}

.Main-header {
background-color: #A6EAE2;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.Main-title {
color: #000000;
}
